---
layout: layouts/baselayout
title: Henry Twist
styles: styles/index.css
---

<!-- Home -->
<div id="home-container" class="main-content-grid">
    {%- include components/main-header -%}

    <div id="home-footer">
        <h1 id="home-quote">I am a Mathematician,<br />Designer and Software Developer</h1>

        <ul id="home-links" class="link-set">

            <li><a href="mailto:henrytwistprojects@gmail.com">Email me</a></li>
            <li><a class="linkedin" href="https://www.linkedin.com/in/henry-twist" target="_blank">LinkedIn</a></li>
            <li><a class="github" href="https://github.com/hctwist" target="_blank">GitHub</a></li>
            <li><a class="stackoverflow" href="https://stackoverflow.com/users/10082297/henry-twist" target="_blank">StackOverflow</a></li>
        </ul>
    </div>
</div>

<!-- Projects -->
<div id="projects-container" class="main-content-grid">

    {%- assign projects = collections.project | sortprojects -%}
    {%- for proj in projects -%}
        <a class="project" href="{{ proj.url }}">

            <img src="{{ proj.data.shots[0].source }}" />
        </a>
    {%- endfor -%}
</div>
