---
layout: layouts/baselayout
styles: about.css
title: About | Henry Twist
---

<div id="about-root">

    <img id="about-image" src="/images/about.png" alt="Profile photo" />

    <h1>Henry Twist.</h1>
    <p id="about-degree">MMath, University of Bath</p>
</div>

<div id="about-summary" class="panel">

    <p>
        Recent MMath graduate and tech enthusiast. Currently spending time working with Kotlin, the Android platform and Python. Trying to improve my UI design skills.
    </p>
</div>

<div id="about-cv">

    <a class="icon-button" href="/downloads/cv.pdf" target="_blank">

        <img src="/images/icons/cv.png" />
        <p>Take a look at my CV</p>
    </a>
</div>

<div id="skills-container">

    {%- include components/skill-category, heading: "PROGRAMMING LANGUAGES", category: "programming-language" -%}
    {%- include components/skill-category, heading: "LANGUAGES", category: "language" -%}
    {%- include components/skill-category, heading: "PLATFORMS", category: "platform" -%}
    {%- include components/skill-category, heading: "SOFTWARE", category: "software" -%}
    {%- include components/skill-category, heading: "OTHER", category: "other" -%}
</div>
